// RMH Footer

footer{
	background: $primary;
	color: white;
	font-size: 10px;
	line-height: 1.5em;
	padding: 0 1em;
	a {
		color: white;
	}

	h2, .widgettitle, p {
		font-size: 10px;
	}

	.menu-corporate-menu-container {
		display: inline-block;
		margin-left: 2em;
	}

	.footer-sidebar {
		border-bottom: 1px solid white;
	}
	.footer-main {
		width: 100%;
	}
}

