// RMH Footer

footer{
	background: $primary;
	color: white;
	line-height: 1.5em;
	padding: 0 1em;
	a {
		color: white;
	}

	.menu-corporate-menu-container {
		display: inline-block;
		margin-left: 2em;
		li{
			display: inline-block;
			margin-right: 1em;
		}
	}

	.trademark {
		margin-top: 1em;
	}

	.footer-sitemap {
		border-bottom: 1px solid white;
		margin-bottom: 2rem;
	}
}

