// Header 

header {
	z-index: 1001;
	position: relative;

	.site-logo{
		.logo{
			width: 225px;
		}
	}
	.site-head-right{
		form[role="search"]{
			input[type="text"]{
				background: $highlight;
				border: none;
				width: 100%;
				min-width: 100px;
				padding: 15px 30px 15px 15px;
				height: 1.5rem;
				z-index: 9;
			}
			input[type="submit"]{
				position: absolute;
				right: 6px;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: 10;
				background: $searchicon no-repeat 50% 50%;
				background-size: 90% auto;
			}
		}
		.social-links{
			padding-left: 0;
			margin: 10px 0;
			.widget{
				display: inline-block;
				vertical-align: top;
				.menu-item {
					@include action-button;
					font-size: 10px;
					padding: 5px 1em;
					width: 90%;
					a{
						font-size: 1.5em;
					}
				}
				&.widget_nav_menu{
					width: 70%;
					width: 100%;
					.menu{ padding-left: 120px; }
				}
				&.widget_cnss_widget{
					position: absolute;
					width: 120px;
				}
			}

			@media screen and ( max-width: 880px ) {
				.widget .menu-item {
					padding: 10px;
					height: 3em;
					a {
						font-size: 1.2em;
					}
				}
			}
		}
	}


	@media screen and ( max-width: $tablet ) {

			white-space: nowrap;
			.site-logo {
				@include col(7.8); 
				text-align: center;
				display: inline-block;
				img {
					height: 13vw;
					width: auto !important;
				}
			}
			.mobile {
				display: inline-block;
				background: $mobilemenuicon 50% 50% no-repeat;
				height: 13vw;
				@include col(2);
				&.menu-button {			
					background: $mobilemenuicon 50% 50% no-repeat;
					background-size: 40% auto;
					border-right: 1px solid gray;
					margin-right: 10px;
				}
				&.search-button {
					background: $searchiconblue 50% 50% no-repeat;
					background-size: 40% auto;
					border-left: 1px solid gray;
					margin-right: 10px;
					@include col(2);
				}
			}

			//Hide on Mobile
			.site-head-right
			{ display:none; }

	}

}

