/* Mobile Styles for RMH */

@media (max-width: 780px){ 

	h1 {
		font-size: 16px;
	}

	h2 {
		font-size: 16px;
	}

	h3 {
		font-size: 13px;
	}

	p  {
		font-size: 13px;
		line-height: 1.3em;
	}

	//Menu
	.main-menu {
		display: none;
	}

	//Slider
	.dynamite-slide {
		.dynamite-slider .dynamite-slide-window {
			margin-top: 0;
			&:before{
				content: none;
			}
		}
	}


	.slider-pagination, .mobile-four-per-pagination {
		button.paging {
			width: 25px;
			height: 25px;
			background-size: 100% auto;
			&.prev {
				left: 15px;
			}
			&.next {
				right: 10px;
			}
		}
	}

	//Post Scroller
	.post-scroller {
		&.four-per-page {
			display: none;
		}

		.mobile-cycle-prev{
			display: inline-block;
			background-image: $largeleftarrow;
		}
		.mobile-cycle-next{
			display: inline-block;
			background-image: $largerightarrow;
		}

		.pager-button.cycle-next, .pager-button.cycle-prev {
			display: none;  
		}

		.four-per-page {
			.four-post {

			}
		}

	}

	.footer-main {
		.footer-sitemap{
			> ul > li {
				width: 100%;
				margin-bottom: 1em;
			}
		}
		.corporate .menu {
			padding-left: 0;
		}
	}

	// Blog Roll 
	.page-template-default-php, .page-template-blog-php, .archive.category, .single, .search {
		
		.page-sidebar {
			padding: 0;
			padding-top: 0;
			position: relative;
			width: 100%;
			max-width: none;
			z-index: 999;
			.call-to-action {
				height: auto;
				padding: 0;
				white-space: nowrap;
				& > li {
					width: 100%;
					&.widget_text{
						display: none;
					}
					#menu-action-buttons {
						margin: 0;
						li{
							display: inline-block;
							vertical-align: middle;
							height: 7vw; 
							width: 33.4vw;
							margin: 0;
							background-image: none;
							padding: 1vw 0;
							text-align: center;
							border-radius: 0;
							font-weight: 600;
							letter-spacing: 1px; 
							a {
								font-size: 3vw;
								height: 1.5em;
								line-height: 1.6em;
							}
							&:not(:first-child) {
								margin-left: -5px;
								a {
									display: block;
									border-left: 1px solid white;
								}
							}
						}
					}
				}
			}
			.parent-menu{
				display: none;
			}
		}

		.content-area {
			padding: 0;
			width: 100%;	

			.page-title, .blog-post-preview { //TODO: Wrap title and posts in own div
				margin: 0 1em;
				padding: 1em 0;
				width: 93%;
			}
			.page-title {
				border-bottom: 1px solid $border;
				box-sizing: border-box;
			}

			.blog-post-preview {
				height: auto;

				.post-feature {
					float: left;
					width: 30%;
					text-align: center;
					height: auto;
					min-height: inherit;
					.thumbnail {
						
						width: 100%;
						img {
							position: relative;
							width: 100%;
							height: auto;

						}
					}
				}
				.post-content {
					width: 65%;
				}

				&::after{
					content: "";
					display: block;
					clear:both;
				}

			}

			.blog-paging {
				.next-prev {
					top: auto;
					vertical-align: middle;
					line-height: 1em;
					padding: 0.4em 1em;
					width: 80px;
				}
				.paging.next {
					margin-left: 1em;
				}
			}

		}
		
	}

}