/* Mobile Styles for RMH */

@media (max-width: 780px){ 

h1 {
	font-size: 14px;
}

h2 {

}

h3 {
	font-size: 13px;
}

p  {
	font-size: 13px;
	line-height: 1.3em;
}

//Header 
	header {
		white-space: nowrap;
		.site-logo {
			@include col(7.5); 
			text-align: center;
			display: inline-block;
			img {
				height: 13vw;
				width: auto !important;
			}
		}
		.mobile {
			display: inline-block;
			background: $mobilemenuicon 50% 50% no-repeat;
			height: 13vw;
			@include col(2);
			&.menu-button {			
				background: $mobilemenuicon 50% 50% no-repeat;
				background-size: 40% auto;
				border-right: 1px solid gray;
				margin-right: 10px;
			}
			&.search-button {
				background: $searchiconblue 50% 50% no-repeat;
				background-size: 40% auto;
				border-left: 1px solid gray;
				margin-right: 10px;
				@include col(2);
			}
		}

		//Hide on Mobile
		.site-head-right
		{ display:none; }

	}

	//Menu
	.main-menu {
		display: none;
	}

	//Slider
	.dynamite-slide {
		.dynamite-slider .dynamite-slide-window {
			margin-top: 0;
			&:before{
				content: none;
			}
		}
	}

	//Call to Action Buttons
	.home {
		div.call-to-action {
			padding: 0;

			.widget_text {
				font-size: 4.5vw;
				padding: 10px 0;
				.special {
					display: block;
					clear: both;
					font-size: 7vw;
				}
			}

			ul#menu-action-buttons {
				margin: 0;
				white-space: nowrap;
				li.menu-item {
					margin-right: 0;
					border-radius: 0;
					padding: 0;
					width: 33.7%;
					margin-left: -5px;
					background-image: none;
					text-align: center;
					letter-spacing: 0;
					a{
						display: block;
						width: auto;
						margin: .5em 0;
					}
					&:not(:nth-child(3)) a{
						border-right: 1px solid white;
						margin-right: 1px;
					}

				}
			}

			&:before, &:after {
				content: none;
			}
		}

	}

	//Content
	.content-area {
		padding: 10px 1vw;
		box-shadow: none;
		h2 { 
			font-size: 18px; 
			padding-bottom: .4rem;
			margin: 0 0.5em;
		}

		.blog-post-preview {
			padding: 1em .5em;
			a {
				display: inline-block;
				width: auto;
				img {
					
					width: 100%;
					height: auto;
					bottom: auto;
				}
			}
			h3 { margin-top: 0; }
			.post-feature {
				width: 23vw;
				margin-right: 3vw;
				display: inline-block;
				vertical-align: top;
			}
			.post-content {
				display: inline-block;
				width: 60vw;
				font-size: 14px;
				line-height: 1.3em;
			}
		}

		.family-stories {
			width: 100%;
			h2 {
				margin-right: 0;
			}
			.one-per-page .blog-post-preview {
				height: 200px;
				padding: 1em .5em;
				.thumbnail {
					img { bottom: auto; }
				}
				.post-meta {
					display: none;
				}
				.post-excerpt {
					p { margin-top: .5em; }
				}
			}
		}

				//Blog Post Blocks
		.home & {
			.whats-happening {
				margin: 1rem .5rem 3rem;
				.blog-post-preview {}
			}
			.social-block {
				display: none;
			}	
		}		
	}


	.slider-pagination, .mobile-four-per-pagination {
		button.paging {
			width: 25px;
			height: 25px;
			background-size: 100% auto;
			&.prev {
				left: 15px;
			}
			&.next {
				right: 10px;
			}
		}
	}

	//Post Scroller
	.post-scroller {
		&.four-per-page {
			display: none;
		}

		.mobile-cycle-prev{
			display: inline-block;
			background-image: $largeleftarrow;
		}
		.mobile-cycle-next{
			display: inline-block;
			background-image: $largerightarrow;
		}

		.pager-button.cycle-next, .pager-button.cycle-prev {
			display: none;  
		}

		.four-per-page {
			.four-post {

			}
		}

	}

	.footer-main {
		.footer-sitemap{
			> ul > li {
				width: 100%;
				margin-bottom: 1em;
			}
		}
		.corporate .menu {
			padding-left: 0;
		}
	}

	// Blog Roll 
	.page-template-blog-php, .archive.category, .single {
		.content-area {
			padding: 0;
			width: 100%;

			.page-sidebar {
				padding: 0;
				position: relative;
				width: 100%;
				max-width: none;
				.call-to-action {
					height: auto;
					padding: 0;
					white-space: nowrap;
					& > li {
						width: 100%;
						&.widget_text{
							display: none;
						}
						#menu-action-buttons {
							margin: 0;
							li{
								display: inline-block;
								vertical-align: middle;
								height: 7vw; 
								width: 33.4vw;
								margin: 0;
								background-image: none;
								padding: 1vw 0;
								text-align: center;
								border-radius: 0;
								font-weight: 600;
								letter-spacing: 1px; 
								a {
									font-size: 3vw;
									height: 1.5em;
									line-height: 1.6em;
								}
								&:not(:first-child) {
									margin-left: -5px;
									a {
										display: block;
										border-left: 1px solid white;
									}
								}
							}
						}
					}
				}
			}	

			.page-title, .blog-post-preview { //TODO: Wrap title and posts in own div
				margin: 0 1em;
				padding: 1em 0;
				width: 93%;
			}
			.page-title {
				border-bottom: 1px solid $border;
				box-sizing: border-box;
			}

			.blog-post-preview {
				height: auto;

				.post-feature {
					float: none;
					width: 100%;
					text-align: center;
					height: auto;
					min-height: inherit;
					.thumbnail {
						max-height: 40vw;
						img {
							position: relative;
							width: auto;
							max-height: 100%;

						}
					}
				}
				.post-content {
					width: 100%;
				}
			}

			.blog-paging {
				.next-prev {
					top: auto;
					vertical-align: middle;
					line-height: 1em;
					padding: 0.4em 1em;
				}
			}

		}
		
	}

}