//Slider

.dynamite-slide .dynamite-slide-container {
	height: 31.3vw !important;
	max-height: 413px !important;
}

.dynamite-slide .dynamite-slider{
	overflow: visible !important;


	.dynamite-slide-window {
		margin-top: -39px;
		&::before{
			content:'';
			display: block;
			width: 100%;
			height: 40px;
			position: relative;
			top: 20px;
			left: 0;
			background: $primary;
			z-index: 1;
		}
	}
}

.dynamite-slide {
	.dynamite-slider {
		.slide{
			height: 31.3vw!important; 
			max-height: 413px !important;
			&.active{
				// height: vw!important;
			}
		}
	}
}