/** Base Styles for AGD **/
/* COLORS */
/* GRAPHIC ELEMENTS */
/* Icons */
/* line 7, ../sass/style.scss */
.dynamite-slide {
  display: block;
  position: relative;
  width: 100%;
}
/* line 17, ../sass/style.scss */
.dynamite-slide .dynamite-slide-container {
  position: relative;
  width: 100%;
  max-width: 1260px;
  padding: 0;
  white-space: nowrap;
  margin: auto;
}
/* line 26, ../sass/style.scss */
.dynamite-slide .dynamite-slide-window {
  width: 100%;
  overflow: hidden;
}
/* line 33, ../sass/style.scss */
.dynamite-slide .dynamite-slide-pager {
  text-align: right;
  padding-right: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
}
/* line 44, ../sass/style.scss */
.dynamite-slide .paging {
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-block;
  border: none;
  z-index: 5;
  top: 0;
  background: none;
  -moz-transition: opacity .5s, -moz-transform .5s;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  -o-transition: opacity .5s, -o-transform .5s;
  transition: opacity .5s, transform .5s;
}
/* line 57, ../sass/style.scss */
.dynamite-slide .paging.prev {
  background-image: url(../images/slider-page-prev.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 28px;
}
/* line 65, ../sass/style.scss */
.dynamite-slide .paging.next {
  background-image: url(../images/slider-page-next.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 28px;
}
/* line 74, ../sass/style.scss */
.dynamite-slide .dynamite-slider {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  margin: auto;
  overflow: hidden;
  position: relative;
}
/* line 85, ../sass/style.scss */
.dynamite-slide .dynamite-slider .slide {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 30vw;
  overflow: hidden;
  -webkit-transition: height .25s, padding .25s;
  -moz-transition: height .25s, padding .25s;
  -o-transition: height .25s, padding .25s;
  transition: height .25s, padding .25s;
}
/* line 101, ../sass/style.scss */
.dynamite-slide .dynamite-slider .slide > img, .dynamite-slide .dynamite-slider .slide > a > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: height .25s, padding .25s;
  -moz-transition: height .25s, padding .25s;
  -o-transition: height .25s, padding .25s;
  transition: height .25s, padding .25s;
}
/* line 115, ../sass/style.scss */
.dynamite-slide .dynamite-slider .slide.active {
  height: 30vw;
  box-shadow: 0px 5px 7px 2px #bdb9b9;
  z-index: 1;
}
/* line 120, ../sass/style.scss */
.dynamite-slide .dynamite-slider .slide:not(.active) {
  opacity: .5;
  height: 29vw;
  padding: 20px 0;
}
/* line 130, ../sass/style.scss */
.dynamite-slide .dynamite-slider .slide video {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 146, ../sass/style.scss */
.dynamite-slide .dynamite-slider .slide-transition .slide :not(.active) img {
  height: 100%;
  width: auto;
  padding: 0;
}
